body {
    background-color:rgba(0, 0, 0, 0.719);
}
.bg-color{
    background-color: rgba(0, 0, 0, 0.411);
}
#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}